body
{background-color: gray;
  height:100%;}

nav 
{margin: 0;
padding: 0;
overflow: hidden;
background-color: black;}
  
a 
{float:left;
display:block;
color: white;
padding: 10px 5px;
text-align: center;
text-decoration: none;
border-right: 1px white;
font-family: Times;}

a:hover
{background-color: white;
color: black;}

h1 {text-align:center;
font-family:times;
  font-style: italic;}

h2 {text-align:center;
font-family:times;
  font-style: italic;
}

#image
{display: block;
margin: 0 auto;
padding-bottom: 10px;
}

div {padding-bottom: 5px;}

p {text-align:center;
width: 500px;
margin: 0 auto;
padding-bottom: 20px;
font-family: "Trebuchet MS";}

table 
{ padding-top: 10px;
  margin-left: 10px;
  margin-right: auto;}

table a 
{ padding-top: 10px;
  margin-left:10px;
  margin-right:auto;}

#mail 
{ border: 5px black;
  margin-top: 30%;
  background-color: black;
 
}

#mail:hover 
{ border: 5px black;
  margin-top: 10px;
  background-color: white;}



footer 
{margin: 0;
padding: 0;
overflow: hidden;
background-color: black;}

form 
{ border:5px solid;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background-color: #d3d3d3;
  font-family:times;}

.footerclass 
{margin-top: 30%}

ul { font-family: times;}

li {font-family:times;}
